@import "tailwindcss";

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF") format("opentype");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

@theme {
  --font-sans: "SF Pro Display", ui-sans-serif, system-ui, sans-serif;
}

html {
  font-family: var(--font-sans);
}
